<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Smart Game Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.red-bean.sgf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GoTutor JSON Game</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
	<key>DeepSeekAPIKey</key>
	<string>$(DEEPSEEK_API_KEY)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Smart Game Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.red-bean.sgf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sgf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-go-sgf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
